body{
    background-color: rgba(255,251,229,1);
}

button {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    background-color: rgba(9,39,72,1);
    cursor: pointer;
    color: white;
    width: 188px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#createform {

    position: relative;
    margin: 0 auto 100px;
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgb(0, 0, 0);

}

#LoginText {
    position: relative;
    margin: 0 auto 100px;
    overflow: visible;
    width: 161px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: rgba(255,255,255,1);
}
#Image_3 {
    filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.161));
    position: relative;
    width: 613px;
    height: 613px;
    overflow: visible;
}
#loginquote {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: relative;
    overflow: visible;
    width: 421px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}

.grid-container {
    align-items: center;
    display: grid;
    filter: drop-shadow(0px -6px 10px rgba(0, 0, 0, 0.161));
    width: 1200px;
    height: 800px;
    grid-template-columns: auto auto;
    grid-gap: 90px;
    padding: 40px;
    position: relative;
    margin: 0 auto 100px;
}

.grid-container > div {
    ter: drop-shadow(0px -6px 10px rgba(0, 0, 0, 0.161));

    text-align: center;
    padding: 40px 0;
    font-size: 30px;
}

#background {
    fill: rgba(217,91,56,1);
}
.background {
    filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.161));
    overflow: hidden;
    position: absolute;
    width: 1080px;
    height: 1663px;
    transform: matrix(1,0,0,1,549,-291) rotate(-90deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}