<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/homepage.css">
</head>

<body>

<div class="topbar-container">

    <form action="/shoppingcart" method="GET">
        <button class="button" type="submit">Cart</button>
    </form>
    <form action="cookiehome" method="GET">
        <button class="button" type="submit">Home</button>
    </form>
    <form action="/logout" method="GET">
        <button class="button" type="submit">Log out</button>
    </form>

</div>

<div id="spacer" style="width: 100px; height: 100px; float:left; display:inline-block"></div>


<div class="home-container">
    <div>
        <img id="homepageimage" src="homepageimage.png" srcset="homepageimage.png 1x, homepageimage@2x.png 2x">
    </div>

    <div id="Lets_go_on_a_food_mission">
        <span th:text="'Welcome back ' + ${session.userobject.getFirstName()}"></span>
        </br>
        <span>Let’s go on a food mission</span>
    </div>
</div>



<div class="line-container">

    <div>
        <div id="spacer" style="width: 100px; height: 100px; float:left; display:inline-block"></div>

    </div>

    <div>
        <svg class="menuline" viewBox="0 0 353.072 3">
            <path id="menuline" d="M 0 0 L 353.07177734375 0">
            </path>
        </svg>
    </div>

    <div>
        <div style="width: 100px; height: 200px; float:left; display:inline-block"></div>

    </div>

</div>









<div class="add-container">

    <div id="Lets_go_on_a_food_mission">
        <span>before we start our quest</span>
        </br>
        <span>Would you like to add a restaurant?</span>

    </div>

    <form action="/homepage/createrestaurant" method="POST">
        <label for="name"><b>company name</b></label>
        <input type="text" id="name" placeholder="Enter company name"    name="name" required>
        </br>
        <label for="address"><b>address</b></label>
        <input type="text" id="address" placeholder="Enter address"    name="address" required>
        </br>
        <label for="zipCode"><b>zipcode</b></label>
        <input type="text" id="zipCode" placeholder="Enter zipcode"    name="zipCode" required>
        </br>
        <label for="city"><b>city</b></label>
        <input type="text" id="city" placeholder="Enter city"    name="city" required>
        </br>
        <button type="submit">Add restaurant</button>
    </form>

</div>

<div class="line-container">

    <div>
        <div id="spacer" style="width: 100px; height: 200px; float:left; display:inline-block"></div>

    </div>

    <div>
        <svg class="menuline" viewBox="0 0 353.072 3">
            <path id="menuline" d="M 0 0 L 353.07177734375 0">
            </path>
        </svg>
    </div>

    <div>
        <div id="spacer" style="width: 100px; height: 300px; float:left; display:inline-block"></div>

    </div>

    <div id="Lets_go_on_a_food_mission">

        <span>LIFT OFF!!</span>

    </div>

    <div>
        <div id="spacer" style="width: 100px; height: 300px; float:left; display:inline-block"></div>

    </div>

    <div>
        <svg class="menuline" viewBox="0 0 353.072 3">
            <path id="menuline" d="M 0 0 L 353.07177734375 0">
            </path>
        </svg>
    </div>

    <div>
        <div id="spacer" style="width: 100px; height: 300px; float:left; display:inline-block"></div>

    </div>

    <div id="Lets_go_on_a_food_mission">
        <span>Or search one?</span>
    </div>
    <div class="search-container">
        <form action="/homepage/searchrestaurant" method="GET">
            <input type="text" id="name" placeholder="Enter company name"    name="name" required>
            <button type="submit">let's find it!</button>
        </form>
    </div>

    <div>
        <div id="spacer" style="width: 100px; height: 150px; float:left; display:inline-block"></div>

    </div>






</div>









</div>






    <div class="grid-container">
        <tr th:each="restaurant: ${restaurants}">
            <div>
                <td th:text="${#strings.toUpperCase(restaurant.getName())}"></td>
                <svg class="restaurantAddresUnderline" viewBox="0 0 353.072 3">
                    <path id="restaurantAddresUnderline" d="M 0 0 L 353.07177734375 0">
                    </path>
                </svg>
                <br/>
                <td th:text="${restaurant.getAddress()}"></td>
                <br/>
                <td th:text="${restaurant.getZipCode()}"></td>
            <br/>
            <td th:text="${restaurant.getCity()}"></td>
            <br/>

                <div class="small-container">
                    <form id="button"  th:action="'/homepage/restaurant/' + ${restaurant.id}"    method="get">
                    <input type="submit" value="Open" class="button" />
                    </form>

                    <form id="button"  th:action="'/homepage/delete/' + ${restaurant.id} "    method="get">
                    <input type="submit" value="Delete" class="button" />
                    </form>
                </div>
            </div>
        </tr>
    </div>





</body>

<footer>
    <div id="spacer"  style="width: 100px; height: 800px; float:left; display:inline-block"></div>

    <div class="topbar-container">

        <form action="/shoppingcart" method="GET">
            <button class="button" type="submit">Cart</button>
        </form>
        <form action="/cookiehome" method="GET">
            <button class="button" type="submit">Home</button>
        </form>
        <form action="/logout" method="GET">
            <button class="button" type="submit">Log out</button>
        </form>

    </div>
</footer>


</html>