<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="/restaurant.css">
</head>

<body>


<svg class="Polygon_2" viewBox="0 0 1080 550">
    <path id="Polygon_2" d="M 540 0 L 1080 550 L 0 550 Z">
    </path>
</svg>


<div class="line-container">

    <div>
        <div id="spacer" style="width: 100px; height: 100px; float:left; display:inline-block"></div>

    </div>
    <div>
        <svg class="menuline" viewBox="0 0 353.072 3">
            <path id="menuline" d="M 0 0 L 353.07177734375 0">
            </path>
        </svg>
    </div>

    <div>
        <div style="width: 100px; height: 200px; float:left; display:inline-block"></div>

    </div>

</div>


<div class="restaurant-container">
    <div id="Lets_go_on_a_food_mission">
        <span th:text="''+ ${session.openrestaurant.getName()}"></span>
        </br>
        </br>
        <span th:text="''+ ${session.openrestaurant.getQuote()}"></span>

    </div>
</div>

<div class="line-container">

    <div>
        <div id="spacer" style="width: 100px; height: 300px; float:left; display:inline-block"></div>

    </div>

    <div>
        <svg class="menuline" viewBox="0 0 353.072 3">
            <path id="menuline" d="M 0 0 L 353.07177734375 0">
            </path>
        </svg>
    </div>

    <div>
        <div style="width: 100px; height: 300px; float:left; display:inline-block"></div>

    </div>

</div>


<div class="additem-container">



    <form th:action="'/homepage/additem/' + ${session.openrestaurant.getId()}"    method="post">


        <label for="name"><b>name</b></label>
        <input type="text" id="name" placeholder="Enter name"    name="name" >

        <label for="description"><b>description</b></label>
        <input type="text" id="description" placeholder="Enter description"    name="description" >

        <label for="price"><b>price</b></label>
        <input type="number" step="any"  id="price" placeholder="Enter price"    name="price" >

        <input type="submit"/>
    </form>

    <div id="Lets_go_on_a_food_mission">
        <span>it looks nice but...</span>
        </br>
        <span>Would you like to add a item?</span>
    </div>


</div>

<div class="line-container">

    <div>
        <div id="spacer" style="width: 100px; height: 300px; float:left; display:inline-block"></div>

    </div>

    <div>
        <svg class="menuline" viewBox="0 0 353.072 3">
            <path id="menuline" d="M 0 0 L 353.07177734375 0">
            </path>
        </svg>
    </div>


    <div>
        <div style="width: 100px; height: 100px; float:left; display:inline-block"></div>

    </div>

</div>

<div class="restaurant-container">
    <div id="Lets_go_on_a_food_mission">
        <span>Let's start our search then!!</span>

    </div>
</div>

<div style="width: 100px; height: 200px; float:left; display:inline-block"></div>


<div class="grid-container">

    <tr th:each="menuitem: ${session.openrestaurant.getMenu()}">

        <div>
            <td th:text="${#strings.toUpperCase(menuitem.getName())}"></td>
            <br/>

            <svg class="restaurantAddresUnderline" viewBox="0 0 353.072 3">
                <path id="restaurantAddresUnderline" d="M 0 0 L 353.07177734375 0">
                </path>
            </svg>
            <br/>

            <td th:text="${menuitem.getDescription()}"></td>
            <br/>


            <svg class="restaurantAddresUnderline" viewBox="0 0 353.072 3">
                <path id="restaurantAddresUnderline" d="M 0 0 L 353.07177734375 0">
                </path>
            </svg>

            <br/>
            <td th:text="${menuitem.getPrice()}"></td>
            <br/>



            <form id="button"  th:action="'/shoppingcart/testadd/' + ${session.openrestaurant.getId()} +'-' + ${menuitem.getId()}"    method="post">
                <input type="submit" value="Add" class="button" />
            </form>


            </form>

        </div>

    </tr>

</div>





</body>

<footer>
    <div id="spacer"  style="width: 100px; height: 800px; float:left; display:inline-block"></div>
</footer>


</html>