<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/shoppingcart.css">
</head>

<body>



    <div class="shoppingcartbar-container">

        <form action="/shoppingcart" method="GET">
            <button class="button" type="submit">Cart</button>
        </form>
        <form action="/homepage/redirect" method="GET">
            <button class="button" type="submit">Home</button>
        </form>
        <form action="/logout" method="GET">
            <button class="button" type="submit">Log out</button>
        </form>

    </div>

    <div id="spacer"  style="width: 100px; height: 100px; float:left; display:inline-block"></div>


<div class="shopping-container">

    <div id="Lets_go_on_a_food_mission">
        <span th:text="'Hey ' + ${session.userobject.getFirstName()} +', your total is: $' + ${totalPrice} "></span>
    </div>
</div>

<div class="grid-container">

    <tr th:each="menuitem: ${shoppingcart}">

        <div>

            <td th:text="'ID: ' + ${menuitem.getId()}"></td>
            <td th:text="'name: ' + ${menuitem.getName()}"></td>
            <td th:text="'$  ' + ${menuitem.getPrice()}"></td>

        </div>

    </tr>


</div>





</body>

<footer>
    <div id="spacer"  style="width: 100px; height: 800px; float:left; display:inline-block"></div>

    <div class="shoppingcartbar-container">

        <form action="/shoppingcart" method="GET">
            <button class="button" type="submit">Cart</button>
        </form>
        <form action="/homepage/redirect" method="GET">
            <button class="button" type="submit">Home</button>
        </form>
        <form action="/logout" method="GET">
            <button class="button" type="submit">Log out</button>
        </form>

    </div>
</footer>


</html>